<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>	
    <script src="../assets/js/formfront.js"></script>
    <title>Form</title>
</head>
<body>
    <form id="form-info" method="POST" action="">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" value="" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" value="" required>
        </div>
        <div>
            <label for="phone">Phone</label>
            <input type="text" name="phone" required>
        </div>
        <div>
            <label for="college">College</label>
            <input type="text" name="college" required>
        </div>
        <div>
            <label for="semester">Semester</label>
            <input type="text" name="semester" required>
        </div>
        <div>
            <label for="college">Prior experience as campuss ambassador</label>
            <input type="text" name="college" required>
        </div>   
        <div>
            <input type="submit" name="submit">
        </div>
    </form>
</body>
</html>